<ion-content class="schedule-list-background">
  <div class="header_box">
    <img class="header_logo" src="../../assets/img/logo.png" alt="">
    <ion-button class="header_menu_button">三</ion-button>
  </div>

  <div class="title">予定を企画する</div>

  <div class="main_content_box">
    <div class="content_top"></div>
    <ion-list *ngFor="let plan of plans;index as i">
      <ion-item>
        <div>
          <div class="plan_title">{{plan.name}}</div>
          <div class="plan_memo">メモ..{{plan.memo}}</div>
        </div>
        <ion-button (click)="goScheduleId(i)">確認</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

