.found-store-background {
  --background: none;
  background-image: url('../../assets/img/city_bg.png');
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
  background-size: cover;
}

.header_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
  background: white;
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.header_menu_button {
  --box-shadow: none;
  --background: #ffa161;
  margin-left: 20%;
}

.header_logo {
  height: auto;
  width: 30vw;
  margin-right: 20%;
}