.found-store-background {
  --background: none;
  background-image: url('../../assets/img/city_bg.png');
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
  background-size: cover;
}

.header_box {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 80px;
 background: white;
 border-radius: 10px;
 margin-top: 15px;
 margin-right: 20px;
 margin-left: 20px;
 margin-bottom: 50px;
}
.header_logo {
 height: auto;
 max-height: 60px;
} 

.header_menu_button {
  --box-shadow: none;
  --background: #ffa161;
  margin-left: 20%;
}

