<ion-header>
  <ion-toolbar>
    <ion-title>schedule-new</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <label>
          予定名
          <ion-input placeholder="予定名を入力" type="text" [(ngModel)]="plan_name" clearInput></ion-input>
        </label>
      </ion-item>
      <ion-item>
        <label>
          <ion-textarea placeholder="時間帯などの備考があれば..." [(ngModel)]="memo">メモ</ion-textarea>
        </label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-item>
    <label *ngFor="let text of days;let i = index;trackBy: trackBy">
      <input type="date" value="2019-10-20" [(ngModel)]="days[i]"><br>
    </label>
  </ion-item>

  <ion-fab-button (click)="incrementDay()">+</ion-fab-button>
  <ion-fab-button (click)="decrementDay()">-</ion-fab-button>

  <ion-button (click)="generateLink()" [hidden]="generate_button_flag">リンク作成</ion-button>
  <ion-input [hidden]="!generate_button_flag" readonly>http://???/{{key}}</ion-input>

  <ion-button (click)="goHome()" [hidden]="!generate_button_flag">ホームへ戻る</ion-button>
</ion-content>
