<ion-content class="schedule-form-background">
  <div class="header_box">
   <img class="header_logo" src="../../assets/img/logo.png" alt="">
 </div>

  <ion-list-header>
    <ion-label>予定タイトル</ion-label>
  </ion-list-header>
  <div>
    <ion-label>{{title}}</ion-label>
  </div>

  <ion-list-header>
    <ion-label>日付</ion-label>
  </ion-list-header>
  <div>
    <ion-list>
      <ion-item *ngFor="let day of candidates;let i = index;trackBy: trackBy">
        {{day}}
        <ion-segment [(ngModel)]="input_candidate[i]">
          <ion-segment-button value="1">
            <ion-label>◯</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2">
            <ion-label>△</ion-label>
          </ion-segment-button>
          <ion-segment-button value="3">
            <ion-label>×</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>

      <ion-radio-group [(ngModel)]="input_area">
        <ion-list-header>
          <ion-label>エリア</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let area of areas;index as i">
          <ion-label>{{area}}</ion-label>
          <ion-radio slot="start" value="{{i}}" checked=""></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-radio-group [(ngModel)]="input_genre">
        <ion-list-header>
          <ion-label>お店のジャンル</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let genre of genres;index as i">
          <ion-label>{{genre}}</ion-label>
          <ion-radio slot="start" value="{{i}}" checked=""></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
  <div>
    <ion-item>
      <ion-label>メモ:</ion-label>
      <ion-input placeholder="いんぷっと" [(ngModel)]="input_free"></ion-input>
    </ion-item>
  </div>

  <div class="ion-padding">
    <ion-button (click)="submitData()" expand="block" type="submit">回答する</ion-button>
  </div>
</ion-content>
